<!DOCTYPE html>
<html>
<head>
    <title>Book Rental</title>
</head>
<body>
    <p>Hi there!</p>
    <p>We are pleased to inform you that you have borrowed a book titled: <strong><%= @book_title %></strong>.</p>
    <p>Please return it by: <strong><%= @due_date.strftime('%d-%m-%Y') %></strong>.</p>
    <p>Happy reading!</p>
</body>
</html>
