<!DOCTYPE html>
<html>
<head>
    <title>Wypożyczenie książki</title>
</head>
<body>
    <p>Cześć!</p>
    <p>Mamy przyjemność poinformować, że wypożyczyłeś książkę o tytule: <strong><%= @book_title %></strong>.</p>
    <p>Prosimy o jej zwrot do dnia: <strong><%= @due_date.strftime('%d-%m-%Y') %></strong>.</p>
    <p>Miłego czytania!</p>
</body>
</html>
