<%= turbo_stream_from :books %>
<div class="container">
  <h1 class="text-center mb-5 books-title">Books</h1>
  <div class='text-center mb-5 search-engine' data-controller='search'>
    <%= text_field_tag :query,'', placeholder: 'Search by title', data: { action: 'input->search#connect', search_target: :params } %>
  </div>
  <div class="row" id="search_results"></div>
</div>
